body {
  background-color: rgba(0, 183, 255, 1);
  background-image: url("images/osta.jpeg");
  background-repeat: repeat-y;
  background-size: 100%;
  padding-bottom: 15vh;
}

.main__navigation {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 2rem 0;
}
